th {
	border: 1px solid gray;
}

.info {
	font-size: 15px;
	width: 310px;
	height: 48px;
	border: none;
	margin: -315px;
}

h2 {
	width: 550px;
	border-bottom-style: solid;
	border-width: thin;
	border-color: gray;
}

table {
	margin-left: 50px;
}

.idpass {
	width: 425px;
	height: 50px;
	text-align: left;
	padding-left: 15px;
}